[submodule "libs/fontstash"]
	path = libs/fontstash
	url = https://github.com/Beyley/fontstash
[submodule "libs/wgpu-native"]
	path = libs/wgpu-native
	url = https://github.com/Beyley/wgpu-native
[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/Beyley/SDL
[submodule "libs/cimgui"]
	path = libs/cimgui
	url = https://github.com/Beyley/cimgui
[submodule "libs/iconv-zig"]
	path = libs/iconv-zig
	url = https://github.com/Beyley/iconv-zig
[submodule "libs/zig-bass"]
	path = libs/zig-bass
	url = https://github.com/Beyley/zig-bass
