[submodule "libs/fontstash"]
	path = libs/fontstash
	url = https://github.com/Beyley/fontstash
[submodule "libs/wgpu-native"]
	path = libs/wgpu-native
	url = https://github.com/Beyley/wgpu-native
[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/Beyley/SDL
[submodule "libs/cimgui"]
	path = libs/cimgui
	url = https://github.com/Beyley/cimgui
[submodule "libs/zigimg"]
	path = libs/zigimg
	url = https://github.com/zigimg/zigimg
[submodule "libs/iconv-zig"]
	path = libs/iconv-zig
	url = https://github.com/Beyley/iconv-zig
[submodule "libs/zaudio/libs/miniaudio"]
	path = libs/zaudio/libs/miniaudio
	url = https://github.com/mackron/miniaudio
